[Desktop Entry]
Type=Application
Name=Copper Windows Compatibility
Name[tr]=Copper Windows Uyumluluğu
Comment=Manage and run Windows applications with Wine
Comment[tr]=Wine ile Windows uygulamalarını yönet ve çalıştır
Exec=/usr/bin/python3 /opt/copperbars/copper_windows.py
Icon=wine
Terminal=false
Categories=System;Utility;
