[Desktop Entry]
Type=Application
Name=Copper First Start
Exec=/usr/local/bin/copper-autostart
Terminal=false
OnlyShowIn=OPENBOX;
X-GNOME-Autostart-enabled=true
